<a href="#/builder/albums" class="btn btn-primary nav-button" title="Home Page"><span class="glyphicon glyphicon-home"></span> Home</a>
<a href="#/builder"  ng-show="showAlbumsButton !== false" class="btn btn-primary nav-button" title="Create/Edit an Album"><span class="glyphicon glyphicon-pencil"></span> Albums</a>
<a href="#/builder/albums/new" ng-show="showNewAlbumButton !== false" class="btn btn-primary nav-button" title="Create a New Album"><span class="glyphicon glyphicon-plus"></span> New Album</a>
